<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Notícia 01 Afeganistão</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
        rel="stylesheet">
</head>
<body>

<h1>Clinton, Bush e Obama vão ajudar afegãos a fixar residência nos EUA.</h1>
<img src="/images/img3.jpg">

<p>Os ex-presidentes dos Estados Unidos George W. Bush, do Partido Republicano, e Bill Clinton e Barack Obama, do Partido Democrata, anunciaram nesta terça-feira (14) a criação de um grupo de apoio a refugiados do Afeganistão.

O objetivo da entidade, afirmam os três, será ajudar aqueles que deixarem o país para se estabelecer em território americano.</p>

<p>Batizada de Welcome.US (Bem-vindo aos Estados Unidos, em tradução livre), a iniciativa conta ainda com a participação das ex-primeiras-damas Laura Bush, Michelle Obama e Hillary Clinton. 

Os líderes políticos prometem ajudar na realocação de dezenas de milhares de afegãos que precisam fugir do Talibã. Boa parte dessas pessoas trabalhou para as tropas ocidentais durante os  20 anos de ocupação americana e hoje corre risco de vida.</p> 

<p>“Milhares de afegãos estiveram na linha de frente conosco para lutar por um mundo mais seguro, e agora eles precisam de nossa ajuda. Estamos orgulhosos de apoiar a Welcome.US e o trabalho para ajudar as famílias afegãs a se estabelecerem e a construir novas vidas ”, disseram George W Bush e sua esposa Laura em comunicado. 

“Estamos prontos para mostrar aos nossos novos vizinhos afegãos e ao resto do mundo como um espírito acolhedor e generoso forma a espinha dorsal dos Estados Unidos”.</p>

<p>O conselho tem o apoio de mais de 280 pessoas e entidades, incluindo empresas como a Microsoft Corp, o Starbucks e o AirBnB, bem como várias organizações sem fins lucrativos, grupos de veteranos e agências de reassentamento.

A administração do presidente Joe Biden afirma trabalhar para acomodar 50.000 refugiados em bases militares nos Estados Unidos.</p>

<p>Outra parte do contingente evacuado permanece em centros de processamento localizados em aeroportos americanos, enquanto uma terceira lista de refugiados segue em instalações militares no exterior. 

No momento, porém, todos os voos do Afeganistão para os Estados Unidos estão suspensos devido um surto de sarampo. 
</p>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>