<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Notícia 02 Afeganistão</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
        rel="stylesheet">
</head>
<body>
<h1>
Eles queriam uma nova vida nos EUA, mas foram mortos por militares americanos.
</h1>

<img src="/images/img2.jpg">

<p>Para os militares dos Estados Unidos, ele era um facilitador do Estado Islâmico K que estaria envolvido em uma conspiração para atacar o aeroporto internacional de Cabul.

Para sua família e colegas de uma organização sem fins lucrativos dos EUA, Zamarai Ahmadi, de 43 anos, era um trabalhador humanitário que estava solicitando um visto para os EUA para tirar sua família do Afeganistão controlado pelo Talibã.

Nas duas semanas desde que os drones dos EUA dispararam um míssil Hellfire contra um carro em um complexo residencial em Cabul, duas narrativas muito diferentes surgiram sobre o homem que, segundo sua família, morreu ao lado de nove parentes.</p>

<p>O Pentágono sustenta que pelo menos um membro do Estado Islâmico K foi morto naquele que o Chefe do Estado Maior das Forças Armadas, general Mark Milley, chamou de “ataque justo” em 29 de agosto.

Em um comunicado, o Comando Central dos EUA mencionou “explosões secundárias significativas” como evidência de uma “quantidade substancial de material explosivo” dentro do veículo. Uma autoridade dos EUA com conhecimento da operação disse à CNN na semana passada que os agentes rastrearam o carro por cerca de oito horas antes de lançar o ataque.

No entanto, entrevistas da CNN com dois especialistas em explosivos e mais de duas dúzias de parentes de Ahmadi, colegas e vizinhos levantam questões sobre se, de fato, um facilitador do Estado Islâmico K foi morto no ataque e se o carro continha explosivos.

Os relatos também suscitam dúvidas sobre se os militares tinham dados de inteligência suficiente para lançar um ataque que, segundo a família, acabaria matando três homens com visto para os EUA e sete crianças e jovens com 15 anos ou menos.</p>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>