<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Notícia 03 Afeganistão</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
        rel="stylesheet">
</head>
<body>
  <h1>Jornalista brasileira em Cabul conta sobre o dia a dia do novo governo Talibã no Afeganistão</h1>

<p>Há quase um mês, no dia 15 de agosto, o grupo extremista islâmico Talibã retomava o controle da capital do Afeganistão, Cabul. Isso aconteceu logo depois do anúncio da saída das tropas norte-americanas da região, depois de 20 anos da chamada guerra ao terror, que foi encabeçada pelos Estados Unidos após os atentados de 11 de setembro de 2001.</p>

<p>A repórter Thais Itaqui conversou com a jornalista Anelise Borges, que é correspondente internacional do canal de notícias Euronews, e que acompanha de perto o processo de retorno ao poder do Talibã.</p>

<p>Anelise é brasileira, natural do Rio Grande do Sul, e teve a coragem de entrar no Afeganistão para fazer a cobertura da crise no país. Ela saiu do Brasil há 15 anos para trabalhar como repórter na Europa, e há sete atua em áreas de conflito. </p>
<img src="/images/img1.jpg">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>